[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=8.0.0"
pyyaml = ">=6.0"
dbt-core = ">=1.10.13"
google-cloud-bigquery = ">=3.0.0"

[dev-packages]
pytest = ">=7.0.0"
black = ">=22.0.0"
mypy = ">=0.950"
flake8 = ">=6.0.0"
duckdb = ">=0.8.0"

[requires]
python_version = "3.12"
